.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-item {
    height: 20px;
    width: 50px;
    background-color: #2883F6;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
  }
  
  .intro-heading {
    font-size: 30px;
  }
  
  .intro-text {
    font-size: 20px;
  }
  
  .intro-image {
    display: flex;
    justify-content: center;
  }
  
  .characters-heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
  }
  
  .characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .character {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  
  .character img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    border: 5px solid #1F2937;
  }